{\rtf1\ansi\ansicpg932\cocoartf2761
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red109\green115\blue120;\red23\green24\blue24;\red202\green202\blue202;
\red70\green137\blue204;\red212\green212\blue212;\red140\green211\blue254;\red113\green192\blue131;\red194\green126\blue101;
\red167\green197\blue152;}
{\*\expandedcolortbl;;\cssrgb\c50196\c52549\c54510;\cssrgb\c11765\c12157\c12549;\cssrgb\c83137\c83137\c83137;
\cssrgb\c33725\c61176\c83922;\cssrgb\c86275\c86275\c86275;\cssrgb\c61176\c86275\c99608;\cssrgb\c50588\c78824\c58431;\cssrgb\c80784\c56863\c47059;
\cssrgb\c70980\c80784\c65882;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs28 \cf2 \cb3 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 /* 5ch/2ch\uc0\u39080  \u36942 \u21435 \u12525 \u12464 \u20877 \u29694 \u12473 \u12479 \u12452 \u12523  */\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 body\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 background-color:\cf4 \strokec4  #efefef\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 color:\cf4 \strokec4  #333\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-family:\cf4 \strokec4  \cf8 \strokec8 "MS PGothic"\cf6 \strokec6 ,\cf4 \strokec4  \cf8 \strokec8 "IPAMonaPGothic"\cf6 \strokec6 ,\cf4 \strokec4  \cf8 \strokec8 "Saitamaar"\cf6 \strokec6 ,\cf4 \strokec4  \cf9 \strokec9 sans-serif\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 line-height:\cf4 \strokec4  \cf10 \strokec10 1.6\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin:\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 a\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #0000ee\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 text-decoration:\cf4 \strokec4  \cf9 \strokec9 none\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 a:hover\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 text-decoration:\cf4 \strokec4  \cf9 \strokec9 underline\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf2 \cb3 \strokec2 /* \uc0\u12504 \u12483 \u12480 \u12540 \u12539 \u12490 \u12499 \u12466 \u12540 \u12471 \u12519 \u12531  */\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 header\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 background-color:\cf4 \strokec4  #fff\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 10px\cf4 \strokec4  \cf10 \strokec10 20px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 border-bottom:\cf4 \strokec4  \cf10 \strokec10 1px\cf4 \strokec4  \cf9 \strokec9 solid\cf4 \strokec4  #ccc\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin-bottom:\cf4 \strokec4  \cf10 \strokec10 20px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 nav\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 0.85em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 color:\cf4 \strokec4  #666\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .container\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 max-width:\cf4 \strokec4  \cf10 \strokec10 900px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin:\cf4 \strokec4  \cf10 \strokec10 0\cf4 \strokec4  \cf9 \strokec9 auto\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 background-color:\cf4 \strokec4  #fff\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 20px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 border:\cf4 \strokec4  \cf10 \strokec10 1px\cf4 \strokec4  \cf9 \strokec9 solid\cf4 \strokec4  #ccc\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 box-shadow:\cf4 \strokec4  \cf10 \strokec10 2px\cf4 \strokec4  \cf10 \strokec10 2px\cf4 \strokec4  \cf10 \strokec10 5px\cf4 \strokec4  \cf9 \strokec9 rgba(\cf10 \strokec10 0\cf6 \strokec6 ,\cf10 \strokec10 0\cf6 \strokec6 ,\cf10 \strokec10 0\cf6 \strokec6 ,\cf10 \strokec10 0.05\cf9 \strokec9 )\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf2 \cb3 \strokec2 /* \uc0\u26495 \u12488 \u12483 \u12503 \u12398 \u12473 \u12524 \u19968 \u35239  */\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .thread-list\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 list-style:\cf4 \strokec4  \cf9 \strokec9 none\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .thread-list\cf4 \strokec4  \cf5 \strokec5 li\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 8px\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 border-bottom:\cf4 \strokec4  \cf10 \strokec10 1px\cf4 \strokec4  \cf9 \strokec9 dashed\cf4 \strokec4  #ccc\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .thread-list\cf4 \strokec4  \cf5 \strokec5 .num\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #888\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin-right:\cf4 \strokec4  \cf10 \strokec10 10px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf2 \cb3 \strokec2 /* \uc0\u12473 \u12524 \u12483 \u12489 \u26412 \u25991  */\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .thread-title\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #ff0000\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 1.4em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin:\cf4 \strokec4  \cf10 \strokec10 10px\cf4 \strokec4  \cf10 \strokec10 0\cf4 \strokec4  \cf10 \strokec10 20px\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-weight:\cf4 \strokec4  \cf9 \strokec9 bold\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 margin-bottom:\cf4 \strokec4  \cf10 \strokec10 25px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding-bottom:\cf4 \strokec4  \cf10 \strokec10 10px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post-header\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 0.9em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-weight:\cf4 \strokec4  \cf9 \strokec9 bold\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post-num\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #228b22\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post-name\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #228b22\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post-date\cf6 \strokec6 ,\cf4 \strokec4  \cf5 \strokec5 .post-id\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 font-weight:\cf4 \strokec4  \cf9 \strokec9 normal\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 color:\cf4 \strokec4  #666\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin-left:\cf4 \strokec4  \cf10 \strokec10 5px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .post-content\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 margin-top:\cf4 \strokec4  \cf10 \strokec10 5px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding-left:\cf4 \strokec4  \cf10 \strokec10 15px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 1em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 word-break:\cf4 \strokec4  \cf9 \strokec9 break-all\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .anchor\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 color:\cf4 \strokec4  #0000ee\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf2 \cb3 \strokec2 /* \uc0\u36942 \u21435 \u12525 \u12464 \u36890 \u30693  */\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 .archive-notice\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 background-color:\cf4 \strokec4  #fffacd\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 border:\cf4 \strokec4  \cf10 \strokec10 1px\cf4 \strokec4  \cf9 \strokec9 solid\cf4 \strokec4  #e6db55\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 15px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 margin-bottom:\cf4 \strokec4  \cf10 \strokec10 20px\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 0.9em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 color:\cf4 \strokec4  #555\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf5 \cb3 \strokec5 footer\cf4 \strokec4  \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf4 \cb3     \cf7 \strokec7 text-align:\cf4 \strokec4  \cf9 \strokec9 center\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 padding:\cf4 \strokec4  \cf10 \strokec10 40px\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 font-size:\cf4 \strokec4  \cf10 \strokec10 0.8em\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf7 \strokec7 color:\cf4 \strokec4  #888\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\pard\pardeftab720\partightenfactor0
\cf6 \cb3 \strokec6 \}\cf4 \cb1 \strokec4 \
\
\pard\pardeftab720\partightenfactor0
\cf4 \cb3 @\cf5 \strokec5 media\cf4 \strokec4  (\cf5 \strokec5 max-width:\cf4 \strokec4  600\cf5 \strokec5 px\cf4 \strokec4 ) \cf6 \strokec6 \{\cf4 \cb1 \strokec4 \
\cb3     .container \{\cb1 \
\cb3         \cf7 \strokec7 margin:\cf4 \strokec4  \cf10 \strokec10 0\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3         \cf7 \strokec7 border:\cf4 \strokec4  \cf9 \strokec9 none\cf6 \strokec6 ;\cf4 \cb1 \strokec4 \
\cb3     \cf6 \strokec6 \}\cf4 \cb1 \strokec4 \
\cb3 \}\cb1 \
}